<h1><div id="titulo">Editando tu comentario</div></h1>

<%= render 'form' %>

<%= link_to 'Ver', @comment %> |
Volver a <%= link_to(@comment.conversation.title, board_conversation_path(:board_id=>@comment.conversation.board,
                                                                 :id=>@comment.conversation))%>