<h3><%= @comment.user %> hizo este comentario:</h3>

<blockquote><%= simple_format @comment.body %></blockquote>

En la conversación:
<%= link_to( @comment.conversation.title,
             board_conversation_path( :board_id => @comment.conversation.board, :id => @comment.conversation) +
                     ultima_pagina( @comment.conversation) + "#" + @comment.id.to_s ) %>
<br/>
Recibes este correo porque tienes activada la casilla de notificaciones en tu cuenta en el foro de Cursos del Cetem.
<%= link_to( 'Foro de Cursos del Cetem', homepage_url ) %>
Estamos trabajando en el sistema de subscripciones, disculpa las molestias.