%div.field
  %div#barrabbcode
    %span#youtube Youtube
    |
    %span#imagen Imágen
    |
    %span#centrar Centrar
    |
    %span#spoiler Spoiler
    |
    %span#url URL

//agregar javscript aca con =content_for :js do