%div.field
  %div#barrabbcode
    %span.btn.btn-inverse.btn-mini#youtube Youtube
    %span.btn.btn-inverse.btn-mini#imagen Imágen
    %span.btn.btn-inverse.btn-mini#centrar Centrar
    %span.btn.btn-inverse.btn-mini#spoiler Spoiler
    %span.btn.btn-inverse.btn-mini#url URL
//agregar javscript aca con =content_for :js do