.label.label-important
  %h1 Panel principal
%hr
- if notice
  .alert.alert-success= notice
%table.table.table-bordered.table-no-lr-border
  - @boards.select{ |b| b.padre == 1 }.each do |board|
    %tr.label.label-inverse= render 'boards/board_table_row', board: board
    - @boards.select{|b| b.padre == board.id}.each do |sub_board|
      %tr= render 'boards/board_table_row', board: sub_board
- if es_administrador
  = link_to 'Nuevo Foro', new_board_path, class: "btn btn-primary"