/*  FFF1BA naranja claro
8FB6EA azul claro
9CE28E verde claro
E2F0FF celeste clarito
E6FFE2 verde clarito
FFE2E2 rosa clarito
F9FFE2 amarillo clarito
D2DBD2 gris claro
9c0007 bordo
630007 bordo hover
ffc1ad bordo ligth
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require twitter/bootstrap
*/

html {
        padding-top: -25px;
        background: url('http://www.zastavki.com/pictures/1280x800/2009/3D-graphics_White_cell_018124_.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.body{
    padding-top: 42px;
    background-color: none;
}
.nicEdit-main{
    background-color: #ffffff;
}

.border-left {
  border-left: 1px solid #959595;
  padding-left: 10px;
}

.well.well-dark {
  padding: 5px;
  margin: 5px 0 5px 0;
  background-color: #dddddd;
}
.red-border {
  border: 2px #B94A48 solid;
}
.label, .badge {
  white-space: normal;
}
