// Place all the styles related to the mensajepersonals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//index
#lineaPM{
    border:1px solid #9c0007;
    text-align: center;
}
#lineaPm{
    border:1px solid #9c0007;
}


//show
#cuerpoPM{
    background-color: #ffffff;
    border: 1px solid #9c0007;
    padding: 10px;
}